{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg">
    <h1 class="text-center">{{ data['title'] }}</h1>
    <a href="{{url_for('urrego.lagrange_route', array = data['array_len'] + 1)}}">Aumentar</a>
    <br>
    <a href="{{url_for('urrego.lagrange_route', array = data['array_len'] - 1)}}">Reducir</a>
    <form id="inputField" role="form" method='POST'>
    <h2>A:</h2>
    {% for n in range(data['array_len']) %}
      <input type="number" name="field0{{ n }}" size="1" step="any">
    {% endfor %}
    <br>
    {% for n in range(data['array_len']) %}
      <input type="number" name="field1{{ n }}" size="1" step="any">
    {% endfor %}
      <br>
      <br>
      <br>
      <input type="submit" onclick="window.location.href='" value="calculate" name="calculate" class="btn btn-info">
    </form>
    <div id="resultField">
        {%if st %}
            {% for line in stdout %}
                {{ line }}
                <br>
            {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
