{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg row">
    <div class="column left">
      <h1 class="text-center">Doolittle</h1>
      <form id="inputField" role="form" method='POST'>
        <h2>Size: {{ data['matrix_size'] }}</h2>
        <button><a href="{{ url_for('alzate.doolittle_route', array = data['matrix_size'] + 1) }}">Increase</a></button>
        <br>
        <button><a href="{{ url_for('alzate.doolittle_route', array = data['matrix_size'] - 1) }}">Decrease</a></button>
        <h2>A:</h2>
        {% for row in range(data['matrix_size'])%}
        {% for col in range(data['matrix_size'])%}
        <input type="number" name="field{{row}}{{col}}" size="3" step="any" value="{{ range(-51, 51) | random }}">
        {% endfor %}
        <br>
        {% endfor %}
        <h2>b:</h2>
        {% for index in range(data['matrix_size'])%}
        <input type="number" name="fieldb{{index}}" size="3" step="any" value="{{ range(-51, 51) | random }}">
        {% endfor %}
        <br>
        <br>
        <input type="submit" value="calculate" name="calculate" class="btn btn-info">
      </form>
      <br>
      <details>
        <summary>Help?</summary>
        <pre>
 - The input in the methods help you to be sure in the dimension of the matrix..

 - The determinant of the matrix cannot be 0.

 - The matrix can´t have a 0 on the diagonal, although the method is made in such a way that it does not stop.
          </pre>
      </details>
    </div>
    <div class="column right">
      <div id="resultField">
        <pre>
                {% for line in stdout %}
                    {{ line }}
                    <br>
                {% endfor %}
            </pre>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}