<div class="container">
  <div class="well well-lg">
    <h1 class="text-center">Simple Gaussian elimination</h1>
    <form id="inputField" role="form" method='POST'>
    <h2>A:</h2>
      <input type="number" name="field00" size="3" step="any">
      <input type="number" name="field01" size="3" step="any">
      <input type="number" name="field02" size="3" step="any">
      <br>
      <input type="number" name="field10" size="3" step="any">
      <input type="number" name="field11" size="3" step="any">
      <input type="number" name="field12" size="3" step="any">
      <br>
      <input type="number" name="field20" size="3" step="any">
      <input type="number" name="field21" size="3" step="any">
      <input type="number" name="field22" size="3" step="any">
      <br>
      <br>
      <br>
    <h2>b:</h2>
      <input type="number" name="fieldb0" size="3" step="any">
      <input type="number" name="fieldb1" size="3" step="any">
      <input type="number" name="fieldb2" size="3" step="any">
      <br>
      <input type="submit" onclick="window.location.href='{{ url_for( 'alzate.gausspl_route') }}" value="calculate" name="calculate" class="btn btn-info">
    </form>
    <div id="resultField">
        {%if st %}
            {% for line in stdout %}
                {{ line }}
                <br>
            {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
