{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg">
    <h1 class="text-center">Gaussian elimination with partial Pivot</h1>
    <form id="inputField" role="form" method='POST'>
    <h2>Size: {{ data['matrix_size'] }}</h2>
    <a href="{{ url_for('alzate.gausspar_route', array = data['matrix_size'] + 1) }}">Increase</a>
    <br>
    <a href="{{ url_for('alzate.gausspar_route', array = data['matrix_size'] - 1) }}">Decrease</a>
    <h2>A:</h2>
      {% for row in range(data['matrix_size'])%}
          {% for col in range(data['matrix_size'])%}
          <input type="number" name="field{{row}}{{col}}" size="3" step="any">
          {% endfor %}
          <br>
      {% endfor %}
    <h2>b:</h2>
      {% for index in range(data['matrix_size'])%}
          <input type="number" name="fieldb{{index}}" size="3" step="any">
      {% endfor %}
      <br>
      <input type="submit" value="calculate" name="calculate" class="btn btn-info">
    </form>
    <div id="resultField">
            {% for line in stdout %}
                {{ line }}
                <br>
            {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
