{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg row">
      <div class="column left">
    <h1 class="text-center">SOR</h1>
    <br>
    <div class="container">
        <a href="{{ url_for('alzate.gseidel_route', array = 4) }}"><button type="button"
            class="button button3 btn btn-primary"><i class="fa fa-arrow-left"></i> Gauss - Seidel</button></a>

        <a href="{{ url_for('urrego.vandermonde_route', array = 4) }}"><button type="button"
            class="button button1 btn btn-primary">Vandermonde <i
              class="fa fa-arrow-right"></i></button></a>
    </div>
    <form id="inputField" role="form" method='POST' class="lineal">
    <h2>Size: {{ data['matrix_size'] }}</h2>
    <button><a href="{{ url_for('alzate.sor_route', array = data['matrix_size'] + 1) }}">Increase</a></button>
    <br>
    <button><a href="{{ url_for('alzate.sor_route', array = data['matrix_size'] - 1) }}">Decrease</a></button>
    <h2>A:</h2>
      {% for row in range(data['matrix_size'])%}
          {% for col in range(data['matrix_size'])%}
          <input type="number" name="field{{row}}{{col}}" size="3" step="any" value="{{ range(-51, 51) | random }}">
          {% endfor %}
          <br>
      {% endfor %}
    <h2>b:</h2>
      {% for index in range(data['matrix_size'])%}
          <input type="number" name="fieldb{{index}}" size="3" step="any" value="{{ range(-51, 51) | random }}">
      {% endfor %}
      <br>
    <h2>x0:</h2>
      {% for index in range(data['matrix_size'])%}
          <input type="number" name="fieldx{{index}}" size="3" step="any" value="{{ range(-51, 51) | random }}">
      {% endfor %}
      <br>
    <h2>w:</h2>
      <input type="number" name="fieldw" size="3" step="any" value="1.2">
    <h2>Nmax:</h2>
      <input type="number" name="fieldNmax" size="3" step="any" value="100">
      <br>
    <h2>Tol:</h2>
      <input type="number" name="fieldTol" size="3" step="any" value="1e-7">
      <br>
      <br>
      <input type="submit" value="calculate" name="calculate" class="btn btn-info">
    </form>
    <br>
        <details>
          <summary>Help?</summary>
          <pre>
 - In sor if w = 1 we is like Gauss-Seidel method.

 - In sor if w is between 0 and 1 we got sub-relaxation methods (used in non-convergent Gauss-Seidel systems).

 - In sor if w is between 1 and 2 we got over-relaxation methods (used to "increase" the speed of some methods).

 - The initial vector isn´t too important.

 - The determinant of the matrix cannot be 0.

 - The numbers of iterations must be positive.

 - The tolerance must be positive.

 - The matrix cannot should not have a 0 on the diagonal.
          </pre>
        </details> 
      </div>
    <div class="column right">
        <div id="resultField">
                {% for line in stdout %}
                    {{ line }}
                    <br>
                {% endfor %}
        </div>
    </div
  </div>
</div>
{% endblock %}
