{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg row">
   <div class="column left">
    <h1 class="text-center">Bisection</h1>

    <form id="inputField" role="form" method='POST'>
    <h2>Function</h2>
      <input type="text" name="function" step="any">
      <br>
    <h2>Initial value A</h2>
        <input type="number" name="a" size="3" step="any">
        <br>
    <h2>Initial value B</h2>
        <input type="number" name="b" size="3" step="any">
        <br>
     <h2>Tolerance</h2>
      <input type="number" name="tol" size="3" step="any">
      <br>
      <h2>Iteration cap.</h2>
     <input type="number" name="nmax" size="3" step="any">
      <br>
      <br>
      <input type="submit" onclick="window.location.href='{{ url_for( 'alejandro.bisection_route') }}" value="calculate" name="calculate" class="btn btn-info">
    </form>
       <br>
       <details>
          <summary>Help?</summary>
 - There cannot be any discontinuity in the function, and must be differentiable
<br>
 - Value for A must be less than the value of B, and these two must have opposite signs, and both values have to exist in the function.
<br>
 - Tolerance must be greater than 0.
<br>
 - The iteration must be positive.
        </details>
   </div>
    <div id="resultField" class="column mid">
            <br>
            <br>
        <pre>
            {% for line in stdout %}
                {{ line }}
            {% endfor %}
        </pre>
    </div>
  <div class="column right">
    <h1>Other One-Variable Methods</h1>
    <a href="{{ url_for('alejandro.incsearch_route') }}"><button type="button" class="button button2 btn btn-primary">Incremental Search</button></a>
    <br>
    <a href="{{ url_for('alejandro.falsepos_route') }}"><button type="button" class="button button3 btn btn-primary">False position</button></a>
    <br>
    <a href="{{ url_for('alejandro.fixedpoint_route') }}"><button type="button" class="button button1 btn btn-primary">Fixed Point</button></a>
    <br>
    <a href="{{ url_for('alejandro.newtonraphs_route') }}"><button type="button" class="button button5 btn btn-primary">Newton-Raphson method</button></a>
    <br>
    <a href="{{ url_for('alejandro.secant_route') }}"><button type="button" class="button button1 btn btn-primary">Secant method</button></a>
    <br>
    <a href="{{ url_for('alejandro.multiroots_route') }}"><button type="button" class="button button2 btn btn-primary">Multi-Roots method</button></a>
    <br>
  </div>
  </div>
</div>
{% endblock %}
