{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg">
    <h1 class="text-center">Incremental Search</h1>
    <form id="inputField" role="form" method='POST'>
    <h2>Function</h2>
      <input type="string" name="function" step="any">
      <br>
    <h2>Initial value</h2>
       <input type="number" name="xin" size="3" step="any">
      <br>
     <h2>Delta</h2>
      <input type="number" name="delta" size="3" step="any">
      <br>
      <h2>Iteration cap</h2>
     <input type="number" name="nmax" size="3" step="any">
      <br>
      <br>
      <input type="submit" onclick="window.location.href='{{ url_for( 'alejandro.incsearch_route') }}" value="calculate" name="calculate" class="btn btn-info">
    </form>
    <div id="resultField">
            {% for line in stdout %}
                {{ line }}
                <br>
            {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
