{% extends 'layout.html'%}
{% block content %}
<div class="container">
  <div class="well well-lg">
    <h1 class="text-center">Multiple Roots </h1>
    <form id="inputField" role="form" method='POST'>
    <h2>Function</h2>
       <input type="text" name="function" step="any">
       <br>
    <h2>Function's Derivative</h2>
       <input type="text" name="fdx" size="3" step="any">
       <br>
    <h2>Function's Second Derivative</h2>
       <input type="text" name="fd2x" size="3" step="any">
       <br>
    <h2>Initial value x0</h2>
        <input type="number" name="x0" size="3" step="any">
        <br>
     <h2>Tolerance</h2>
      <input type="number" name="tol" size="3" step="any">
      <br>
      <h2>Iteration cap.</h2>
     <input type="number" name="nmax" size="3" step="any">
      <br>
      <br>
      <input type="submit" onclick="window.location.href='{{ url_for( 'alejandro.multiroots_route') }}" value="calculate" name="calculate" class="btn btn-info">
    </form>
    <div id="resultField">
            {% for line in stdout %}
                {{ line }}
                <br>
            {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
