<!DOCTYPE html>
<html lang="=en">

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"
        integrity="sha512-CWVDkca3f3uAWgDNVzW+W4XJbiC3CH84P2aWZXj+DqI6PNbTzXbl1dIzEHeNJpYSn4B6U8miSZb/hCws7FnUZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" tybe="text/css" href="{{url_for('static', filename='css/plantilla.css')}}">
    <link rel="stylesheet" tybe="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap">
    <title>
        Numeric analysis Final project
    </title>
</head>

<body>
    <div class="conth">
        <header>
            <nav class="head_nav">
                <ul>
                    <li id=headp><a id="home" href="index.html"> Main Page</a></li>
                    <li id=headp><a id="home" href="Methods.html"> Methods</a></li>
                    <li id=headp><a id="home" href="nosotros.html"> About us</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <h1 class=title>Numeric analysis Final project</h1>
    <div class="expl">
        this is a website in which you will be able touse a wide variety of methods to solve numerical
        analysis problems. <br>

        this page was made as part of the final project for the Numeric analysis course at EAFIT univeristy
        by:
        <ul id="students">
            <li>Santiago Alzate</li>
            <li> Alejandro Castaño</li>
            <li>Sebastian Urrego</li>
            <li>Esteban Sierra</li>
        </ul>
    </div>
    <div class="functionbig">
        <div class="parameters">
            Parameters
        </div>
        <div class="functionn">
            <form action="tali/form" method="POST">
                <label>
                    Please input your function f
                    <input type="text" id="input" value="" name='fx'>
                </label>
                <label id="grids" name='grid'>
                    Activate grid
                    <input type="checkbox">
                </label>
                <label>
                    <input type="submit" id="plot" value="Plot the function">
                </label>
            </form>
        </div>
        <div class="graph">
            <div class="title_graph">
                Function graph
            </div>
            <div class="function_plot">
                <svg vertion="1.1" style="background-color:#fff" id="svg" xmlns="http://www.w3.org/2000/svg">

                </svg>
                <script type="text/javascript" src="{{url_for('static', filename='js/plot.js')}}"></script>
                <script>

                    setCanvasSize(960, 500)
                    var opts = { doEqualizeAxes: true, doDrawAxes: true }
                    drawFn(-2.9, 2.9, -0.1, 1.1, opts, function (x) {
                        return x + 2
                    })

                </script>
            </div>
        </div>
</body>

</html>