<!DOCTYPE html>
<html lang="=en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" tybe="text/css" href="plantilla.css">
    <link rel="stylesheet" tybe="text/css" href="normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="{{ url_for('static', filename='css/plantilla.css') }}">
    <title>
        Numeric analysis Final project
    </title>
</head>

<body>
    <div class="conth">
        <header>
            <nav class="head_nav">
                <ul>
                    <li id=headp><a id="home" href="index.html"> Main Page</a></li>
                    <li id=headp><a id="home" href="Methods.html"> Methods</a></li>
                    <li id=headp><a id="home" href="nosotros.html"> About us</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <h1 class=title>Numeric analysis Final project</h1>
    <div class="expl">
        this is a website in which you will be able touse a wide variety of methods to solve numerical
        analysis problems. <br>

        this page was made as part of the final project for the Numeric analysis course at EAFIT univeristy
        by:
        <ul id="students">
            <li>Santiago Alzate</li>
            <li> Alejandro Castaño</li>
            <li>Sebastian Urrego</li>
            <li>Esteban Sierra</li>
        </ul>
    </div>
    <div class="functionbig">
        <div class="parameters">
            Parameters
        </div>
        <div class="function">
            <form>
                <label>
                    Please input your function f
                    <input type="text" id="input" value="">
                </label>
                <label id="grids">
                    Activate grid
                    <input type="checkbox">
                </label>
                <label>
                    <input type="button" id="plot" value="Plot the function">
                </label>
            </form>
        </div>
        <div class="graph">
            <div class="title_graph">
                Function graph
            </div>
            <div class="function_plot">

            </div>
        </div>
</body>

</html>
