{% extends 'layout.html'%}
{% block content %}
<h1>Methods to solve numerical problems</h1>
<h2>Solution to system equations</h2>
<a href="{{ url_for('alzate.gausspl_route') }}"><button type="button" class="btn btn-primary">Gausspl</button></a>
<a href="{{ url_for('alzate.gausspar_route') }}"><button type="button" class="btn btn-primary">Gausspar</button></a>
<a href="{{ url_for('alzate.gausstot_route') }}"><button type="button" class="btn btn-primary">Gausstot</button></a>
<a href="{{ url_for('alzate.lusimpl_route') }}"><button type="button" class="btn btn-primary">LU simple</button></a>
<a href="{{ url_for('alzate.lupar_route') }}"><button type="button" class="btn btn-primary">LU par</button></a>
<a href="{{ url_for('alzate.cholesky_route') }}"><button type="button" class="btn btn-primary">Cholesky</button></a>
<a href="{{ url_for('alzate.doolittle_route') }}"><button type="button" class="btn btn-primary">Doolittle</button></a>
<a href="{{ url_for('alzate.crout_route') }}"><button type="button" class="btn btn-primary">Crout</button></a>
<a href="{{ url_for('alzate.jacobi_route') }}"><button type="button" class="btn btn-primary">Jacobi</button></a>
<a href="{{ url_for('alzate.gseidel_route') }}"><button type="button" class="btn btn-primary">Gauss - Seidel</button></a>
<a href="{{ url_for('alzate.sor_route') }}"><button type="button" class="btn btn-primary">SOR</button></a>

<br><br>
<h2>Interpolation</h2>
<a href="{{ url_for('urrego.vandermonde_route', array = 'None') }}"><button type="button" class="btn btn-primary">Vandermonde</button></a>
<a href="{{ url_for('urrego.newton_interpolation_route', array = 'None') }}"><button type="button" class="btn btn-primary">Newton (Divided difference method)</button></a>
<a href="{{ url_for('urrego.lagrange_route', array = 3) }}"><button type="button" class="btn btn-primary">Lagrange</button></a>
<a href="{{ url_for('urrego.spline_linear_route', array = 'None') }}"><button type="button" class="btn btn-primary">Spline (Linear)</button></a>
<a href="{{ url_for('urrego.spline_square_route', array = 'None') }}"><button type="button" class="btn btn-primary">Spline (Square)</button></a>
<a href="{{ url_for('urrego.spline_cubic_route', array = 'None') }}"><button type="button" class="btn btn-primary">Spline (Cubic)</button></a>
{% endblock %}
