.container_info{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.video{
	margin-left: auto;
	margin-right: auto;

}

.usermanual{
	margin.margin-left: 50%;
}


.pdf{
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}