{% extends 'layout.html' %}
{% block content %}
<h1 class=title>Numeric analysis Final project</h1>
<div class="expl">
    this is a website in which you will be able touse a wide variety of methods to solve numerical
    analysis problems. <br>

    this page was made as part of the final project for the Numeric analysis course at EAFIT univeristy
    by:
    <ul id="students">
        <li>Santiago Alzate</li>
        <li> Alejandro Castaño</li>
        <li>Sebastian Urrego</li>
        <li>Esteban Sierra</li>
    </ul>
</div>
    <div class="functionbig">
        <div class="parameters">
            Parameters
        </div>
        <div class="functionn">
            <form action="tali/form" method="POST">
                <label>
                    Please input your function f
                    <input type="text" id="input" value="" name='fx'>
                </label>
                <label>
                    Please input de first number of the domain
                    <input type="number" id="xmin" name="a">
                </label>
                <label>
                    Please input the last number of the domain
                    <input type="number" id="xmax" name="b">
                </label>
                <label id="plot">
                    <input type="submit"  value="Plot the function">
                </label>
            </form>
        </div>
    </div>
{% endblock %}