{% extends 'layout.html' %}
{% block content %}
<h1 class=title>Numeric Analysis: The Final Project</h1>
<div class="expl">
    This is a website designed to use and test wide variety of methods to solve numerical
    analysis problems.
</div>
<div class ="expl" id="helping">
    If lost, go to the 'help' button in the top right corner, then feel free to
    test out your functions with our <a href="{{ url_for('tali.graph') }}">function plotter</a>!
</div>
<div style="text-align: right;">
    <img style="width: 20%;" src="https://cdn.custom-cursor.com/cursors/spongebob_barnacle_boy_blue_glove_962.png" class="barnacle">
</div>

<div class="expl" id="madeby">
This page was made as part of the final project for the Numeric Analysis course at EAFIT univeristy, 2021.
    by:
    <ul id="students">
        <li>Santiago Alzate</li>
        <li>Alejandro Castaño</li>
        <li>Sebastian Urrego</li>
        <li>Esteban Sierra</li>
    </ul>
</div>
{% endblock %}
