{% extends 'layout.html'%}
{% block content %}
<div class="container" style="text-align: center;">
  <div class="well well-lg">
    <h1 class="text-center">{{ data['title'] }}</h1>
    {% if data['message'] != '' %}
      <h3 style="color: red;">{{ data['message'] }}</h3>
    {% endif %}
    <div class="functionbig">
        <div class="parameters">
            Parameters
        </div>
        <div class="functionn">
            <form action="tali/form" method="POST">
                <label>
                    Please input your function f
                    <input type="text" id="input" value="" name='fx'>
                </label>
                <label id="grids" name='grid'>
                    Activate grid
                    <input type="checkbox">
                </label>
                <label>
                    <input type="submit" id="plot" value="Plot the function">
                </label>
            </form>
        </div>
    </div>
    <br>
  </div>
</div>
{% endblock %}
